.top {
    margin-top: 20px;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #00d8ff; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.text {
    text-align: center;
    font-size: 10px;
    color: grey;
}

/* Responsive */
@media only screen and (min-width: 600px) {
    .top {
        margin-top: 30px;
    }
}
