.content fieldset {
    border: 1px dotted #0D47A1 !important;
}

.content legend {
    color: #0D47A1;
    font-size: 12px !important;
    text-align: right !important;
    border: 1px solid #0D47A1 !important;
}

.image {
    width: 150px;
}

.text {
    line-height: 0px;
    font-size: 9px;
}
